################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chess/bin/Debug
/Chess/obj/Debug
/Chess/Properties
